@model Smartuser.Models.Item

@{
    ViewData["Title"] = "Criar Novo Item";
}

<h2>@ViewData["Title"]</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Criar" method="post" class="w-50">
    <div class="mb-3">
        <label asp-for="Descricao" class="form-label"></label>
        <input asp-for="Descricao" class="form-control" required />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="GrupoID" class="form-label">Grupo</label>
        <div class="input-group">
            <select class="form-control" id="GrupoID" name="GrupoID" required>
                <option value="">Selecione um Grupo</option>
                @foreach (var grupo in ViewBag.Grupos)
                {
                    <option value="@grupo.ID">@grupo.Nome</option>
                }
            </select>
            <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#CreateGrupoModal">
                Criar Novo Grupo
            </button>
        </div>
    </div>

    <div class="mb-3">
        <label for="QuantidadeEstoque" class="form-label">Quantidade em Estoque</label>
        <input type="number" class="form-control" id="QuantidadeEstoque" name="QuantidadeEstoque" required />
    </div>

    <div class="mb-3">
        <label for="Preco" class="form-label">Preço</label>
        <input type="number" step="0.01" class="form-control" id="Preco" name="Preco" required />
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Criar</button>
    </div>
</form>

<div class="mt-3">
    <a href='@Url.Action("ListaDeEstoque", "Item")' class="btn btn-secondary">Voltar para a lista</a>
</div>

<!-- Modal para Criar Novo Grupo -->
<div class="modal fade" id="CreateGrupoModal" tabindex="-1" role="dialog" aria-labelledby="CreateGrupoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="CriarGrupo" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="CreateGrupoModalLabel">Criar Novo Grupo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="Nome" class="form-label">Nome do Grupo</label>
                        <input type="text" class="form-control" id="Nome" name="Nome" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
