@model Smartuser.Models.GrupoFornecedor

@{
    ViewData["Title"] = "Criar Grupo de Fornecedor";
}

<h2>@ViewData["Title"]</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Criar" method="post" class="w-50 text-start">
    <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control" required />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Criar</button>
    </div>
</form>

<div class="mt-3 text-start">
    <a asp-action="ListaGrupos" class="btn btn-secondary">Voltar para a lista</a>
</div>
